.articlesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.sectionTitle {
  margin-left: 25px;
}

.homeActions {
  position: absolute;
  right: 20px;
  background: transparent;
  z-index: 1000;
}

.eyeIcon {
  font-size: 32px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.eyeIcon:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.modalOverlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  transform: translateY(100%);
  animation: slideUp 0.3s ease-out forwards;
}

.modalContent {
  background: white;
  padding: 24px 32px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.searchBar {
  position: relative;
  top: 0;
  margin: 20px auto;
  z-index: 100;
  background: white;
  padding: 12px;
  display: flex;
  gap: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.3s ease;
}

.searchBar input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  height: 40px;
  box-sizing: border-box;
}

.actions {
  position: absolute;
  right: 0;
  display: flex;
  gap: 8px;
}

.actions button {
  height: 36px;
}


@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}